.singlePostOuterDiv {
  width: 35vw;
  margin: 2em auto;
}
.singlePostHeaderDiv {
  border: 0px solid #282c34;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
}
.singlePostTextDiv {
  background-color: rgb(93, 91, 91);
  padding: 1.5em;
}
.singlePostFooterDiv {
  border: 0px solid #282c34;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #404040;
  height: 2em;
}

.createPostOuterDiv {
  width: 35vw;
  margin: 2em auto;
}
.createPostHeaderDiv {
  border: 0px solid #282c34;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
}
.createPostTextAreaDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.createPostTextArea {
  background-color: rgb(93, 91, 91);
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  outline: none;
  font-weight: bold;
  resize: none;
  border: none;
}
.createPostFooterDiv {
  border: 0px solid #404040;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #404040;
  height: 2em;
}
.marginOne {
  margin: 1em;
}
header {
  text-align: center;
}
.navigationStyles {
  border: 0px solid #404040;
  border-radius: 25px;
  display: inline-block;
  margin: 5px;
  color: white;
  padding: 10px 20px;
  background-color: #404040;
  font-weight: bold;
  font-size: large;
}

.signUp {
  margin: auto;
  width: 360px;
  height: 520px;
  border-radius: 6px;
  background-color: rgb(93, 91, 91);
}
.signUpHeader {
  text-align: center;
  padding-top: 15px;
}
.signUpForm {
  width: 300px;
  margin-left: 20px;
}
.signUpFormLabel {
  display: flex;
  margin-top: 1em;
  font-size: 18px;
}
.signUpFormInput {
  width: 100%;
  padding: 7px;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
}
.signUpFormSubmit {
  height: 35px;
  width: 316px;
  margin-top: 20px;
  border: none;
  background: white;
  color: black;
  font-size: 18px;
}
.signUpText {
  text-align: center;
}

.loginText {
  text-align: center;
}
.login {
  width: 360px;
  height: 300px;
  border-radius: 6px;
  background-color: rgb(93, 91, 91);
  margin: auto;
}
.loginForm {
  width: 300px;
  margin-left: 20px;
}
.loginLabel {
  display: flex;
  margin-top: 1em;
  font-size: 18px;
}
.loginInput {
  width: 100%;
  padding: 7px;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
}
.loginFormSubmit {
  height: 35px;
  width: 316px;
  margin-top: 20px;
  border: none;
  background: white;
  color: black;
  font-size: 18px;
}
.loginHeader {
  text-align: center;
  padding-top: 15px;
}
.profileOuterDiv {
  width: 35vw;
  margin: 2em auto;
}
.profileHeaderDiv {
  border: 0px solid #282c34;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
}
.profileTextDiv {
  text-align: center;
  background-color: rgb(93, 91, 91);
  padding: .1em;
  border: 0px solid #282c34;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.alignCenter {
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .singlePostOuterDiv {
    width: 85vw;
    margin: 2em auto;
  }
  .singlePostHeaderDiv {
    border: 0px solid #282c34;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
  }
  .singlePostTextDiv {
    background-color: rgb(93, 91, 91);
    padding: 1.5em;
  }
  .singlePostFooterDiv {
    border: 0px solid #282c34;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404040;
    height: 2em;
  }
  
  .createPostOuterDiv {
    width: 85vw;
    margin: 2em auto;
  }
  .createPostHeaderDiv {
    border: 0px solid #282c34;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
  }
  .createPostTextAreaDiv {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .createPostTextArea {
    background-color: rgb(93, 91, 91);
    color: white;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    outline: none;
    font-weight: bold;
    resize: none;
    border: none;
  }
  .createPostFooterDiv {
    border: 0px solid #404040;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #404040;
    height: 2em;
  }
  .navigationStyles {
    border: 0px solid #404040;
    border-radius: 25px;
    display: inline-block;
    margin: 5px;
    color: white;
    padding: 10px 20px;
    background-color: #404040;
    font-weight: bold;
    font-size: medium;
    list-style-type: none;
  }
  .profileOuterDiv {
    width: 85vw;
    margin: 2em auto;
  }
  .marginOne {
    margin: .25em;
  }
}
.postButton {
  padding: 3px 8px;
  background-color: white;
  color: black;
  border: 0px solid #404040;
  border-radius: 25px;
  outline: none;
  font-size: medium;
  font-weight: 700;
}
.postButton:active {
  transform: scale(0.96);
  box-shadow: 3px 2px 22px 1px rgba(104, 72, 72, 0.24);
}
.postButton:disabled {
  opacity: .3;
}
.followButton {
  padding: 5px 8px;
  background-color: white;
  color: black;
  border: 0px solid #404040;
  border-radius: 25px;
  outline: none;
  font-size: medium;
  font-weight: 700;
}
.followButton:active {
  transform: scale(0.96);
  box-shadow: 3px 2px 22px 1px rgba(104, 72, 72, 0.24);
}