.postContainer {
  width: 35vw;
  margin: 2em auto;
  border: 2px solid #404040;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.inline {
  display: inline;
}
.postOuterDiv {
  border-bottom: 2px solid #404040;
}
.singlePostHeaderDiv {
  text-align: left;
  height: 1em;
  padding-top: .5em;
}
.singlePostTextDiv {
  padding: 1em;
}
.singlePostFooterDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
}

.createPostOuterDiv {
  width: 35vw;
  margin: 2em auto;
}
.createPostHeaderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
}
.createPostTextAreaDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.createPostTextArea {
  border: 2px solid #404040;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: black;
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  outline: none;
  font-weight: bold;
  resize: none;
}
.createPostFooterDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
}
.marginOne {
  margin: 1em;
}
header {
  text-align: center;
}
.navigationStyles {
  display: inline-block;
  margin: 1rem;
  color: white;
  font-weight: bold;
  font-size: large;
}
.signUp {
  margin: auto;
  width: 360px;
  height: 520px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 0px 4px 2px white;
}
.signUpHeader {
  text-align: center;
  padding-top: 15px;
  color: black;
}
.signUpForm {
  width: 300px;
  margin-left: 20px;
}
.signUpFormLabel {
  display: flex;
  margin-top: 1em;
  font-size: 18px;
  color: black;
}
.signUpFormInput {
  width: 100%;
  padding: 7px;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
}
.signUpFormSubmit {
  height: 35px;
  width: 316px;
  margin-top: 20px;
  border: none;
  background: black;
  color: white;
  font-size: 18px;
}
.signUpText {
  text-align: center;
  margin-top: 5px;
}

.loginText {
  text-align: center;
  margin-top: 5px;
}
.login {
  width: 360px;
  height: 300px;
  border-radius: 6px;
  background-color: white;
  margin: auto;
  box-shadow: 0px 0px 4px 2px white;
}
.loginForm {
  width: 300px;
  margin-left: 20px;
}
.loginLabel {
  display: flex;
  margin-top: 1em;
  font-size: 18px;
  color: black;
}
.loginInput {
  width: 100%;
  padding: 7px;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
}
.loginFormSubmit {
  height: 35px;
  width: 316px;
  margin-top: 20px;
  border: none;
  background: black;
  color: white;
  font-size: 18px;
}
.loginHeader {
  text-align: center;
  color: black;
  padding-top: 15px;
}
.profileOuterDiv {
  width: 25vw;
  margin: 2em auto;
  border: 2px solid white;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.profileHeaderDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
}
.profileTextDiv {
  text-align: center;
  padding: .1em;
  border: 0px solid #282c34;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.alignCenter {
  text-align: center;
}
.marginSmall {
  margin: .5rem;
}
.postButton {
  padding: 3px 8px;
  background-color: white;
  color: black;
  border: 0px solid #404040;
  border-radius: 25px;
  outline: none;
  font-size: medium;
  font-weight: 700;
}
.likeButton {
  padding: 3px 8px;
  background-color: white;
  color: black;
  border: 0px solid #404040;
  border-radius: 25px;
  outline: none;
  font-size: medium;
  font-weight: 700;
}
/* .likeCount {
  margin-right: auto;
} */
.commentButton {
  padding: 3px 8px;
  background-color: white;
  color: black;
  border: 0px solid #404040;
  border-radius: 25px;
  outline: none;
  font-size: medium;
  font-weight: 700;
  margin-right: auto
}
.postButton:active {
  transform: scale(0.96);
  box-shadow: 3px 2px 22px 1px rgba(104, 72, 72, 0.24);
}
.postButton:disabled {
  opacity: .3;
}
.followButton {
  margin-left: 2px;
  padding: 5px 8px;
  background-color: white;
  color: black;
  border: 0px solid #404040;
  border-radius: 25px;
  outline: none;
  font-size: medium;
  font-weight: 700;
}
.followButton:active {
  transform: scale(0.96);
  box-shadow: 3px 2px 22px 1px rgba(104, 72, 72, 0.24);
}
@media only screen and (max-width: 1000px) {
  .postContainer {
    width: 85vw;
    margin: 2em auto;
    border: 2px solid #404040;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
  .singlePostHeaderDiv {
    text-align: left;
    height: 1em;
    padding-top: .5em;
  }
  .createPostOuterDiv {
    width: 85vw;
    margin: 2em auto;
  }
  .profileOuterDiv {
    width: 60vw;
    margin: 2em auto;
  }
  .marginOne {
    margin: .25em;
  }
}
@media only screen and (max-width: 400px) {
  .profileOuterDiv {
    width: 85vw;
    margin: 2em auto;
  }
  h3,h4 {
    font-size: .85rem;
  }
  .singlePostHeaderDiv {
    padding-left: 3px;
    text-align: left;
    height: 1em;
    padding-top: .5em;
  }
}
