.singlePostOuterDiv {
  width: 35vw;
  margin: 2em auto;
}
.singlePostHeaderDiv {
  border: 0px solid #282c34;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
}
.singlePostTextDiv {
  background-color: rgb(93, 91, 91);
  padding: 1.5em;
}
.singlePostFooterDiv {
  border: 0px solid #282c34;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #404040;
  height: 2em;
}

.createPostOuterDiv {
  width: 35vw;
  margin: 2em auto;
}
.createPostHeaderDiv {
  border: 0px solid #282c34;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2em;
}
.createPostTextAreaDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.createPostTextArea {
  background-color: rgb(93, 91, 91);
  color: white;
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  outline: none;
  font-weight: bold;
  resize: none;
  border: none;
}
.createPostFooterDiv {
  border: 0px solid #404040;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #404040;
  height: 2em;
}
.marginOne {
  margin: 1em;
}
header {
  text-align: center;
}
.navigationStyles {
  border: 0px solid #404040;
  border-radius: 25px;
  display: inline-block;
  margin: 5px;
  color: white;
  padding: 10px 20px;
  background-color: #404040;
  font-weight: bold;
  font-size: large;
}
.navigationStylesActive {
  display: inline-block;
  padding: 6px;
  margin: 5px;
  border: 2px solid #001f3f;
  background-color: #001f3f;
  border-radius: 10%;
  color: white;
  font-weight: 900;
  font-size: large;
}
.linkStyles {
  text-decoration: none;
  color: steelblue;
}